/*  Reset */


* {
    padding: 0;
    margin:0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}


/* Variables */

:root  { 
    --main-color: #8c9d75;
    --highlight-color: #7A796F;
    --main-text-color: #31302C;
    --btn-color: #494842;
    --btn-color-hover: #7A796F;
    --border-color: #999;
    --bio-bg-color: #f5f2df;
    --bio-border-color: #769E3A;
    --about-bg-color: #F5F2DF;
    --cert-bg-color: #FDFCF8;
    --cert-border-color: #DCD9C8;
    

}

/*  General */

.highlight {
    color: var(--highlight-color)
}

/*  Containers */

#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color)

}
#container a {
text-decoration: none;
}


#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-image: url(https://raw.githubusercontent.com/nobrelu/nobrelu.github.io/main/img/back-img.jpg);
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    
    background-color: var(--about-bg-color);
    padding: 50px;
}



/*  Bio Container */



#bio-container h2 { 
    margin-bottom: 25px;
}

#bio-container p {
    
    margin-bottom: 20px;
    background-color: var(--bio-bg-color);
    border-radius: 10%;
    opacity: 0.8;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

#bio-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;

}

#bio-container #welcome-text {
    font-weight: bold;
    background-color: transparent;
    border-radius: 10%;
    opacity: 0.8;
    padding: 12px 10px;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style:   none;
    border-bottom:  0px solid var(--border-color);
    margin-bottom: 25px;
    margin-top: 25px;
    padding-bottom: 25px;

}

#social-container li {
    flex: 1 1 0;
    max-width: 60px;
}


#social-container li a {
    color: var(--btn-color);
    font-size: 30px;
}

#social-container li a:hover {
    color: var(--btn-color-hover);
    font-size: 30px;
}

#email-container {
    display: flex;
    justify-content: center;
    color: var(--btn-color-hover);
}

#email-container a {
    flex: 1 1 0;
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
}


/* Menu */

#menu-container {
   
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
        
    
}

#menu-container li {
    flex: 1 1 0;
    padding: 10px;
    width: 170px;
    color: var(--about-bg-color);
    background-color: var(--btn-color);
    border-radius: 30px;
    text-decoration: none;
    transition: .5s;
    margin: 5px;
    padding: 5px;
    background-color: var(--btn-color-hover);
    
    
}


#menu-container li a {
    color: var(--bio-bg-color);
    text-decoration: none;
    
}




#menu-container li:hover {
    color: var(--main-text-color);
    background-color: var(--bio-border-color);
    
}

/*  About Container */

#name {
    font-size: 42px;
    margin-bottom: 15px;
}

#title  {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.description {
    max-width: 75%;
    margin-bottom: 10px;
}

#btn-project {
    font-weight: bold;
    font-size: 16px;
    color: var(--about-bg-color);
    background-color:  var(--btn-color);
    border:  2px solid var(--about-bg-color);
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    margin: 25px 0;
    padding: 12px 10px;
    width: 150px;
    text-align: center;
    display: flex;
}

#btn-project  ion-icon, 
#btn-project span {
    flex: 1 1 0;

}

#btn-project ion-icon {
    font-size: 20px;
    max-width: 20px;
}

#btn-project:hover {
    background-color: var(--btn-color-hover);
    color: var(--btn-color);
}

#skills-section-title {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    color:var(--main-color);
}

#cert-section-title {
    border-bottom: 1px dotted var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--btn-color);
}


#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

#skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 15px;
}
#cert-box {
    flex: 1 1 30%;
    max-width: 25%;
    margin: 5px;
    padding: 5px;
    background-color: var(--cert-bg-color);
    border: 1px solid var(--cert-border-color);
    border-radius: 2%;
    text-align: center;
    box-shadow: 3px 5px var(--cert-border-color);
    text-decoration: none;

}

#cert-box:hover {
    flex: 1 1 30%;
    max-width: 25%;
    margin: 5px;
    padding: 5px;
    background-color: #e4eed5  ;
    border: 1px solid var(--cert-border-color);
    border-radius: 2%;
    text-align: center;
    box-shadow: 3px 5px var(--border-color);
    text-decoration: none;
    transition: .5s;

}

#badge-box {
    flex: 1 1 10%;
    max-width: 10%;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid var(--cert-border-color);
    border-radius: 15%;
    text-align: center;
    box-shadow: 3px 5px var(--cert-border-color);
    text-decoration: none;

}

#badge-box:hover {
        border: 1px solid var(--cert-border-color);
        border-radius: 15%;
        text-align: center;
        box-shadow: 3px 5px var(--border-color);
}

.cert-title {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    width: 95%;
    text-align: left;
    padding: 5px;
    margin-left: 10px;
    color: var(--btn-color);
    border-bottom: 1px dotted var(--bio-border-color);
    text-decoration: none;
}
.cert-origin {
    font-size: 12px;
    margin-bottom: 5px;
    margin: 2px;
    padding: 2px;
    padding-left: 10px;
    padding-bottom: 3px;
    color: var(--btn-color);
    text-align: left;

}

.cert-link {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
    
    display: inline-flex;
box-shadow: 0 8px 6px -6px rgb(223, 223, 223);
    margin: 4px;
    padding: 5px;
    color: #494842;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    background-color: #ffffff;
}


.cert-link:hover {
    text-decoration: none;
    background-color: #494842;
    color: #f5f2df;
    
}

#cert-image {
    max-width: 90%;
    height: auto;
    border-radius: 5%;
    margin-top: 5px;

    
}

.skills-title  {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--btn-color);
}

#skills-box i {
    font-size: 35px;
    margin-right: 10px;
}


/* Mobile */

@media(max-width: 450px) {
    #container  {
        flex-direction: column;
    }

    #bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color) ;

    }

    #bio-container h2 {
        display: none;
    }

    #bio-container p {
        max-width: 80%;
        margin: 10px auto;
    } 

    #about-container {
        text-align: center;
        padding: 30px;
    }
    
    #about-container .description {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px ;
    }

    #btn-project {
        margin: 20px auto;
    }

    #skills-box {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
    
    #skills-box  i {
        font-size: 60px;
    }

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* -------------------------------------------------------- */





/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 10px auto;
    padding: 5px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #7A796F;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #8c9d75;
    border: 4px solid #7A796F;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #7A796F;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #7A796F transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #DCD9C8;
    position: relative;
    border-radius: 6px;
    border: 2px solid #7A796F;
    font-size: 12px;
    color: #494842;
}

.content .intern {
    padding: 20px 30px;
    background-color: #ebe9de;
    position: relative;
    border-radius: 6px;
    border: 2px solid #7A796F;
    font-size: 12px;
    color: #494842;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* -------------------------------------------------------- */

.label-origin {
    margin-bottom: 5px;
    margin: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: var(--btn-color);
    text-align: left;

}







.label {
    color: white;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: inline-flex;
    font-size: 10px;
    
}

.success {
    background-color: #04AA6D;
}

.generic {
    background-color: #adb9b5;
    color: black;
}

.hadoop {
    background-color: #66CDFF;
    color: black;
}

.hive {
    background-color: #FFFF00;
    color: black;
}

.hbase {
    background-color: #eebf79;
    color: black;
}

.sqoop {
    background-color: #88304d;
    
}

.scala {
    background-color: #f34f1c;

}

.etl{
    background-color: #75055d;
}

.powercenter {
    background-color: #565a58;
}

.bigdata {
    background-color: #120641;
}

.datalake {
    background-color: #3e5e4e;
}

.dw {
    background-color: #513e5e;
}

.lgpd {
    background-color: #500474;
}


.sql{
    background-color: #0e2fe9;
}

.nosql {
    background-color: #17a77b;
}

.cassandra{
    background-color: #6b8eaa;
}

.modelagem {
    background-color: #007786;
}

.governanca {
    background-color: #608180;
}

.aws {
    background-color: #F8991B;
}

.azure {
    background-color: #008AD7;
}

.kafka {
    background-color: #7E6161;
}




/* Green */

.datamesh {
    background-color: #077a03;
}

.spark {
    background-color: #8b0404;
}

.python {
    background-color: #110266;
}

.pandas {
    background-color: #110a38;
}

.django {
    background-color: #163010;
}

.flask {
    background-color: #525158;
}

.linux {
    background-color: #222125;
}

.shell {
    background-color: #440255;
}

.docker {
    background-color: #4209ac;
}

.airflow {
    background-color: #00C7D4;
    color: black;
}

.perfect {
    background-color: #e6d67d;
    color: black;
}

.powerbi {
    background-color: #e4f16c;
    color: black;
}

.java {
    background-color: #9e0f04;
   
}

.javascript {
    background-color: #fcff52;
    color: black;

}

.mongodb {
    background-color: #4BA13E;

}

.redis {
    background-color: #6c9400;

}

.elastic {
    background-color: #845497;

}


.git{
    background-color: #F05033;

}


/* Blue */
.warning {
    background-color: #ff9800;
}

/* Orange */
.danger {
    background-color: #f44336;
}

/* Red */
.other {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */


.label-course {
    margin-bottom: 3px;
    margin: 5px;
    padding: 2px;
    padding-left: 10px;
    padding-bottom: 3px;
    color: var(--btn-color);
    text-align: left;
    font-size: 14px;

    color: #F5F2DF;
    font-weight: 600;
}

.alura {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(5, 25, 51, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.udemy {
background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(182, 94, 243, 1) 52%, rgba(203, 94, 243, 1) 100%);
}

.howedu {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(59, 64, 90, 1) 58%, rgba(155, 114, 235, 1) 100%);
}


.xpedu {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 16%, rgba(141, 204, 42, 1) 65%, rgba(174, 204, 42, 1) 100%);
}


.semantix {

background: rgb(82, 16, 119);
    background: linear-gradient(90deg, rgba(82, 16, 119, 1) 43%, rgba(47, 155, 255, 1) 85%, rgba(45, 215, 174, 1) 100%);
}

.dio {

background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 3%, rgba(55, 134, 231, 1) 40%, rgba(202, 80, 122, 1) 86%);
}

.dsa {

background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 11%, rgba(7, 58, 114, 1) 30%, rgba(105, 142, 60, 1) 58%, rgba(129, 65, 16, 1) 80%, rgba(255, 255, 159, 1) 97%);
}

.itau {

background: rgb(0, 51, 153);
    background: linear-gradient(90deg, rgba(0, 51, 153, 1) 48%, rgba(236, 112, 0, 1) 79%);
}

.awssb {

background: rgb(35, 47, 61);
    background: linear-gradient(90deg, rgba(35, 47, 61, 1) 4%, rgba(1, 70, 79, 1) 50%, rgba(0, 82, 118, 1) 97%);
}

/* -------------------------------------------------------- */


/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container2 {
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
    height: 20px;
}

.html {
    width: 90%;
    background-color: #04AA6D;
}

/* Green */
.css {
    width: 80%;
    background-color: #2196F3;
}

/* Blue */
.js {
    width: 65%;
    background-color: #f44336;
}

/* Red */
.php {
    width: 60%;
    background-color: #808080;
}

/* Dark Grey */












