{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 courses-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container ml-auto text-center">
    <div class="btn-group flex-wrap" role="group" id="courses-filter-buttons">
      {{ range .buttons }}
      <button type="button" class="btn btn-dark courses-filtr-control" data-filter="{{ .filter }}">
        {{ .name }}
      </button>
      {{ end }}
    </div>
  </div>
  <div class="container filtr-courses">
    <div class="row" id="courses-card-holder" style="padding: 10px;">
      {{ range .courses }}
        {{ partial "cards/courses" . }}
      {{ end }}
    </div>
  </div>
</div>
